<p>{{name}}</p>

<dl>

  <td>Nombre :</td>
  <dd> {{name}} </dd>

  <td>Edad :</td>
  <dd> {{age}} </dd>

  <td>Metodo :</td>
  <dd> {{heroDescription()}} </dd>

  <td>Capitalizado :</td>
  <dd> {{capatilizaName}}</dd>


  <button
  *ngIf="name!=='Spiderman'"
  class="btn btn-primary mx-2"
  (click)="changeNameHero()"> Cambiar Nombre</button>

  <button
  *ngIf="age===25"
  class="btn btn-primary mx-2" (click)="changeEdadHero()"> Cambiar Edad</button>

  <button
  class="btn btn-primary mx-2" (click)="resetHero()"> Reset </button>

</dl>
